.contenedor {
    width: 90%;
    margin: 0 auto;
}


.grid-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

@media(max-width: 480px) {
    .grid-row {
        display: flex;
        flex-direction: column;
    }
}

.imagen {
    width: 100%;
    border-radius: 10px;
}

.informacion {
    text-align: center;
}

.bold {
    font-weight: 700;
}

.no-bold {
    font-weight: 400;
}