.contenedor {
  width: 90%;
  margin: 0 auto;
}

.barra-busqueda {
    display: flex;
    justify-content: flex-end;
    padding: 0 20px 0 0;
}

.campo {
    display: flex;
    flex-direction: column;
}

.boton-consultar {
  background-color: orange;
  border: none;
  border-radius: 50%;
  padding: 10px;
}
.boton-consultar:hover {
  cursor: pointer;
  background-color: darkgoldenrod;
}
table {
    width: 100%;
    padding: 20px;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
  text-align: center;
}


th {
  background-color: #f2f2f2;
}

img {
    width: 100px;
}
